@page "{id:int}"
@model MoviesApp.Pages.MovieModel
@{
    ViewData["Title"] = "Movie details";
}
<h3>@ViewData["Title"]</h3>
<hr />

<div class="card">
    <div class="card-header">
        Movie - @Model.Movie?.Id
    </div>
    <div class="card-body">
        <h5 class="card-title">@Model.Movie?.Title</h5>
        <p class="card-text">@Model.Movie?.Rate/10</p>
        <p class="card-text">@Model.Movie?.Description</p>
        <a href="/Movies" class="btn btn-primary">Show all</a>
    </div>
</div>